/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
    height: 100%;/* for flexbox to function properly*/
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   /*font-family: 'Montserrat', sans-serif;*/


body{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  height: 100%; /* for flexbox to function properly*/
  font-size: 16px;
}

/* =======MOBILE FIRST======================*/


/* =======HEADER==========*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 20px;

}

header h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}

  .logo-span {
    color: #77a466;
  }

nav ul li{
  color: #77a466;
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 10px;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}

  nav ul li a{
    text-decoration: none;
    color: #77a466;
  }

  nav ul li a:hover{
    color: #000;
  }

.hero-img {
    margin-top: 20px;
}

img {
  width: 100%;
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
}

/* =======WELCOME==========*/
.welcome {
  margin-bottom: 20px;
  padding: 15px;
}
.welcome h2 {
  color: #77a466;
  font-size: 1.25em;
  text-transform: uppercase;
}

/* =======INFORMATION ==========*/
.information {
  background-color: #e3ecdf;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.specials h3, .reviews h3, .contact h3 {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.specials, .reviews, .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.specials ul li {
  color: #77a466;
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 5px;
}

.reviews {
    border-top: 1px solid #172013;
    border-bottom: 1px solid #172013;
    padding-bottom: 10px;
}


/* =======FOOTER==========*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: .9em;
  font-weight: bold;
  padding: 15px;
}
   .footer-span{
     color: #77a466;
     font-family: 'Lobster', cursive;
   }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* =======MEDIA QUERIES======================*/

/* =======TABLET SIZE======================*/
@media (min-width: 768px) {

  header h1{
    font-size: 2.5em;
  }

  nav ul li{
    display: inline;
    padding-left: 10px;
  }

  .information {
    height: auto;
    flex-flow: row wrap;
  }

  .specials, .reviews, .contact {
    border-top: none;
    justify-content: center;
    align-items: center;

  }

  .specials, .reviews {
    flex-basis: 50%;
  }

  .reviews {
    border-left: 0.5px solid  #172013;
    padding: 0 15px;
    border-bottom: none;
    border-top: none;
  }


  .contact {
    margin-top: 15px;
    background-color: #e3ecdf;
    border-top: 0.5px solid #172013;
    padding-left: 10px;
    flex-basis: 100%;
  }

}

/* =======DESKTOP SIZE======================*/
@media (min-width: 940px) {
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  header h1{
    font-size: 1.5625em;
  }

  .logo {
    padding-left: 20px;
  }

  nav {
    padding-right: 10px;
  }
  nav ul li{
    font-size: 0.875em;
  }

  nav ul li a{
    text-decoration: none;
    color: #77a466;
  }

  nav ul li a:hover{
    text-decoration: underline;
  }

  .information {
    flex-flow: row nowrap;
  }

  .specials, .reviews, .contact {
    flex-basis: auto;
  }

  .reviews {
    border-right: 0.5px solid  #172013;
  }

  .contact {
    border-top: none;
  }

  footer {
    font-size: 1.25em;
  }

}







@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
